.pizza-background {
    display: block;
    margin: auto;
    padding-left: 80px;
    width: auto;
    height: 200px;
    background-position: center; /* Center the image */
    background-color: #cccccc; /* Used if the image is unavailable */
  }

  .listado-pizzas{
    list-style:none 
  }

  .galeria {
    display: grid;
    gap: 10px;
  }
  
  .grid-columns-5 {
    grid-template-columns: repeat(3, 1fr);
  }