.pizza-background {
    display: block;
    margin: auto;
    padding-left: 80px;
    width: auto;
    height: 200px;
    background-position: center; /* Center the image */
    background-color: #cccccc; /* Used if the image is unavailable */
  }

  .listado-pizzas{
    list-style:none 
  }

  .galeria {
    display: grid;
    gap: 10px;
  }
  
  .grid-columns-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .botones{
    display:flex;
    justify-content: space-around;

  }

  .name-pizza:first-letter{
    text-transform: uppercase;    
}

.precio-pizza{
  text-align: center;
  font-size: 25px;
  padding-top: 5px;
  padding-bottom: 15px;
  font-weight: bold;
}