.detalle-pizza{
    display: flex;
}

.img-pizza-seleccionada{  
        /* display: block;
        margin: auto;
        padding-left: 80px; */
        /* width: 100 px;
        height: 100 px; */
        /* background-position: center; Center the image */
        /* background-color: #cccccc; Used if the image is unavailable */
        width: 400px;
        height: 400px;
      

}